@font-face {
  font-family: "Smile";
  src: url('Smile.otf');
}

 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif,smile;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} 

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
#button_width {
  width:200px;
}
#button_position {
  width:500px;
  margin-left: 29%;
}
.chrono_bottom {
  text-align: center;
}

#h {
  
}
#col {
  display: flex;
  flex-direction:column;

  text-align: center;
  font-family: "smile";
  font-size: 124 px;
  /* margin-left:40%;
  margin-right: 40%; */
  
}

body {
  margin: 0;  
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  /* font-size: 3.2em; */
  /* line-height: 1.1; */
  /* color : white; */
  /* background:#213547; */
  color:black;
  /* padding-left:50%; */
  /* padding-right:50%; */
  text-align: center;
  font-family: "smile";
  font-size: 124 px;
  /* border:1px solid black; */
  margin-left:40%;
  margin-right: 40%;

  
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction:column;
}

/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}*/
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*ANCHOR - card */
.tile{
  margin: 10px;
  border-radius: 10px;
}
.red{
  background: #f50808;
} 
.blue{
  background:  #002efe;
}
.green{
  background: #64fe00;
}
.yellow{
  background: #fefb00;
}
.orange{
  background: #FF5733;
} 
.purple{
  background:  #fe00e7;
} 
.pink{
  background: #f978a5;
} 
.brown{
  background: #6e2c00;
}

.not-revealed{
  width: 100%;
  height: 100vh;
  background: linear-gradient(#8B008B, #483D8B);
  background-size: 200% 200%;
  animation: neon-violet-tile 3s ease-in-out infinite;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
